:root {

}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

/* Book Shelf */
#bookShelf {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100vw;
  /* height: 30vh; */
  gap: 20px;
  padding: 20px;
}

#bookShelf .book-holder {
  position: relative;
  padding: 3px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #eee;
}
#bookShelf .book-holder::before {
  content: "MagZog"; /* "A" 문자 삽입 */
  font-size: 24px;
  color: #eee;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#bookShelf .book-holder, 
#bookShelf .book,
#bookShelf .book-on-shelf {
  width: 10vw;
  height: 15vw;
}
#bookShelf .book-on-shelf img {
  width: 100%;
  height: 100%;
}
#bookShelf .book-on-shelf:hover {
  cursor: pointer;
}

/* Book Viewer */
#bookViewer.hidden { display: none; }
#bookViewer {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;
}

.noselect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#bookViewer #btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #222;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

#bookViewer #bookContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bookViewer #bookContainer .book {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
}

/* Page container */
#bookViewer .book > .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
}

/* Page */
#bookViewer .book > .container > .page {
  position:absolute;
  box-sizing: border-box;
  border:0px;
  width: 100%;
  height: 100%;
}

/* Temporary */
img { width: 100%; height:100%; }