/* :root {
  --viewer-page-width: lightblue;
  --viewer: 100px;
} */

:root {
  --closed-book-width: 0px;
  --opened-book-width: 0px;
  --book-height: 0px;
  --page-width: 0px;
  --page-height: 0px;
  --zone-width: 50px;
  /* Page 2 */
  --page2-top: 0px;
  --page2-left: 0px;
  --page2-rotate: 0rad;
  --page2-origin: '0px 0px';
  /* Shadow */
  --page-diagonal-length: 0px;
  --shadow-origin-x: 0px;
  --shadow-origin-y: 0px;
  --shadow-left: calc(var(--page-width) - var(--page-diagonal-length));
  --shadow-rotate: 0rad;
  --shadow5-opacity: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

/* Book Shelf */
#bookShelf {
  display: flex;
  flex-direction: row;
  width: 100vw;
  /* height: 30vh; */
  gap: 20px;
  padding: 20px;
}

#bookShelf .book-holder {
  position: relative;
  padding: 3px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #eee;
}
#bookShelf .book-holder::before {
  content: "MagZog"; /* "A" 문자 삽입 */
  font-size: 24px;
  color: #eee;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#bookShelf .book-holder, 
#bookShelf .book,
#bookShelf .book-on-shelf {
  width: 10vw;
  height: 15vw;
}
#bookShelf .book-on-shelf img {
  width: 100%;
  height: 100%;
}
#bookShelf .book-on-shelf:hover {
  cursor: pointer;
}

/* Book Viewer */
#bookViewer.hidden { display: none; }
#bookViewer {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;
}

.noselect {
  user-select: none; /* 모든 브라우저에서 텍스트 선택 비활성화 */
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
}

#bookViewer #btnCloseViewer {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #222;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

#bookViewer #bookContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  height: 100%; */
  
}
/* Book */
#bookViewer.ready-to-open #bookContainer .book { width: var(--closed-book-width) }
#bookViewer.ready-to-open.front #bookContainer .book { border-radius: 0 20px 20px 0; }
#bookViewer.ready-to-open.end #bookContainer .book { border-radius: 20px 0 0 20px; }
#bookViewer #bookContainer .book {
  display: flex;
  justify-content: center;
  align-items: center;
  
  box-sizing: content-box;
  /* box-shadow: 0px 0px 30px 1px #666; */

  width: var(--opened-book-width);
  height: var(--book-height);
}

/* Pages */
#bookViewer .book > .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
}
#bookViewer.ready-to-open .book > .container > .page { width:100%; }
#bookViewer .book > .container > .page > .shadow,
#bookViewer .book > .container > .page > .content { 
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;;
}
#bookViewer .book > .container > .page.empty { opacity:0; }
#bookViewer .book > .container > .page {
  position:absolute;
  box-sizing: border-box;
  width: var(--page-width);
  height: var(--page-height);
  /* shadow 1 */
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, .1));
}
#bookViewer .book .page:nth-child(-n+3) { left:0; }
#bookViewer .book .page:nth-child(n+4):nth-child(-n+6) { left:50%; }
#bookViewer .book .page:nth-child(2),
#bookViewer .book .page:nth-child(5) { display: none; }
#bookViewer.ready-to-open .book .page:nth-child(-n+6) { left:0; }

#bookViewer.left-page-flipping .book > .container > .page:nth-child(3),
#bookViewer.right-page-flipping .book > .container > .page:nth-child(4){
  z-index: 9;
}
#bookViewer.left-page-flipping .book > .container > .page:nth-child(3)  > .content,
#bookViewer.right-page-flipping .book > .container > .page:nth-child(4) > .content{
  mask-size: cover;
  mask-composite: exclude;
  mask-image: url(#mask1);
  -webkit-mask-composite: xor;
  -webkit-mask-image: url(#mask1);
}
#bookViewer.left-page-flipping .book > .container > .page:nth-child(2),
#bookViewer.right-page-flipping .book > .container > .page:nth-child(5) {
  z-index: 10;
  transform-origin: var(--page2-origin);
  top: var(--page2-top);
  left: var(--page2-left);
  transform: rotate(var(--page2-rotate));
  /* Shadow 5 */
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, var(--shadow5-opacity)));
}
#bookViewer.left-page-flipping .book > .container > .page:nth-child(2) > .content,
#bookViewer.right-page-flipping .book > .container > .page:nth-child(5) > .content {
  /* z-index: 10; */
  -webkit-mask-composite: intersect;
  -webkit-mask-image: url(#mask2);
  -webkit-mask-mode: alpha;
  mask-composite: intersect;
  mask-image: url(#mask2);
  mask-mode: alpha;
}

#bookViewer.left-page-flipping .book > .container > .page:nth-child(2),
#bookViewer.right-page-flipping .book > .container > .page:nth-child(5),
#bookViewer.left-page-flipping .book > .container > .page:nth-child(2),
#bookViewer.right-page-flipping .book > .container > .page:nth-child(5) { display: block; }

/* Shadow */
#bookViewer .book > .container > .page > .shadow > .sh-rect {
  position: absolute;
  top:0;
  left: 0;
  width: 0;
  height: 0;
}
#bookViewer .book > .container > .page > .shadow > .sh-svg { 
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
#bookViewer .book > .container > .page > .shadow {
  display: none;
}
#bookViewer.left-page-flipping .book > .container > .page:nth-child(2) > .shadow,
#bookViewer.right-page-flipping .book > .container > .page:nth-child(5) > .shadow {
  display: block;
  width: 100%;
  height: 100%;
}
#bookViewer.left-page-flipping .book > .container > .page:nth-child(2) > .shadow > .sh-rect,
#bookViewer.right-page-flipping .book > .container > .page:nth-child(5) > .shadow > .sh-rect {
  top: var(--page-height);
  left: var(--shadow-left);
  width: var(--page-diagonal-length);
  height: var(--page-diagonal-length);
  transform-origin: calc(var(--shadow-origin-x) - var(--shadow-left)) 0px;
  transform: rotate(var(--shadow-rotate));
  /* overflow: hidden; */
}
#bookViewer.left-page-flipping .book > .container > .page:nth-child(2) > .shadow > .sh-svg,
#bookViewer.right-page-flipping .book > .container > .page:nth-child(5) > .shadow > .sh-svg {
  /* filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, var(--shadow5-opacity))); */
}
#bookViewer.left-page-flipping .book > .container > .page:nth-child(2) > .shadow > .sh-svg > .shape,
#bookViewer.right-page-flipping .book > .container > .page:nth-child(5) > .shadow > .sh-svg > .shape {

  /* filter: drop-shadow(5px 1px 10px rgba(0, 0, 0, 0.3)); */
}

/* #bookViewer.left-page-flipping .book > .container > .page:nth-child(2) > .shadow > .sh-svg > .shadow3,
#bookViewer.right-page-flipping .book > .container > .page:nth-child(5) > .shadow > .sh-svg > .shadow3 {
  x1: 
} */

/* 
#bookViewer.zone-lt .book > .container > .page:nth-child(-n+3){ transform-origin: top right; }
#bookViewer.zone-lc .book > .container > .page:nth-child(-n+3){ transform-origin: center right; }
#bookViewer.zone-lb .book > .container > .page:nth-child(-n+3){ transform-origin: bottom right; }
#bookViewer.zone-rt .book > .container > .page:nth-child(n+4):nth-child(-n+6){ transform-origin: top left; }
#bookViewer.zone-rc .book > .container > .page:nth-child(n+4):nth-child(-n+6){ transform-origin: center left; }
#bookViewer.zone-rb .book > .container > .page:nth-child(n+4):nth-child(-n+6){ transform-origin: bottom left; }
*/

/* Temporary */
.page:nth-child(1) { z-index: 1; }
.page:nth-child(2) { z-index: 2; }
.page:nth-child(3) { z-index: 3; }
.page:nth-child(4) { z-index: 3; }
.page:nth-child(5) { z-index: 2; }
.page:nth-child(6) { z-index: 1; }
.bg0 { background-color: white; }
.bg1 { background-color: white; }
.bg2 { background-color: white; }
.bg3 { background-color: white; }
.bg4 { background-color: white; }
.bg5 { background-color: white; }
.content { height: 100%; }

/* Event Zone */
#bookViewer.ready-to-open.front .event-zone.left,
#bookViewer.ready-to-open.end .event-zone.right { display: none;}

#bookViewer .event-zone {
  z-index: 20;
  position: absolute;
  background: transparent; 
}
#mzZoneLT {
  top: 0px;
  left: 0px;
  width: var(--zone-width);
  height: var(--zone-width);
}
#mzZoneLC {
  top: var(--zone-width);
  left: 0px;
  width: var(--zone-width);
  height: calc(var(--page-height) - var(--zone-width)*2);
}

#mzZoneLB {
  bottom: 0px;
  left: 0px;
  width: var(--zone-width);
  height: var(--zone-width);
}

#mzZoneRT {
  top: 0px;
  right: 0px;
  width: var(--zone-width);
  height: var(--zone-width);
}

#mzZoneRC {
  top: var(--zone-width);
  right: 0px;
  width: var(--zone-width);
  height: calc(var(--page-height) - var(--zone-width)*2);
}

#mzZoneRB {
  bottom: 0px;
  right: 0px;
  width: var(--zone-width);
  height: var(--zone-width);
}