/* :root {
  --viewer-page-width: lightblue;
  --viewer: 100px;
} */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

/* Book Shelf */
#bookShelf {
  display: flex;
  flex-direction: row;
  width: 100vw;
  /* height: 30vh; */
  gap: 20px;
  padding: 20px;
}

#bookShelf .book-holder {
  position: relative;
  padding: 3px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #eee;
}
#bookShelf .book-holder::before {
  content: "MagZog"; /* "A" 문자 삽입 */
  font-size: 24px;
  color: #eee;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#bookShelf .book-holder, 
#bookShelf .book,
#bookShelf .book-on-shelf {
  width: 10vw;
  height: 15vw;
}
#bookShelf .book-on-shelf img {
  width: 100%;
  height: 100%;
}
#bookShelf .book-on-shelf:hover {
  cursor: pointer;
}

/* Book Viewer */
#bookViewer.hidden { display: none; }
#bookViewer {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px;
  width: 100vw;
  height: 100vh;
  background: rgba(63, 63, 63, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.noselect {
  user-select: none; /* 모든 브라우저에서 텍스트 선택 비활성화 */
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
}

#bookViewer #btnCloseViewer {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #222;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

#bookViewer #bookContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  height: 100%; */
  
}
/* Book */
#bookViewer #bookContainer .book.ready-to-open {
  border-radius: 0 20px 20px 0;
}
#bookViewer #bookContainer .book {
  display: flex;
  justify-content: center;
  align-items: center;
  
  box-sizing: content-box;
  /* padding: 20px;
  background: #eee;
  border-radius: 20px; */
  box-shadow: 0px 0px 30px 1px #666;
}

/* #bookViewer #bookContainer .book:hover {
  padding: 20px;
  background: #eee;
  border-radius: 20px;
} */


/* Pages */
#bookViewer .book > .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
#bookViewer .book.book.ready-to-open > .container > .page { width:100%; }
#bookViewer .book > .container > .page.hidden { display: none; }
#bookViewer .book > .container > .page {
  position:absolute;
  /* width: 50%;
  height: 100%; */
  box-sizing: border-box;
}
#bookViewer .book > .container > .page.flipping-back-page1 {
  z-index: 10;
  /* mask: url(#mask);
  -webkit-mask: url(#mask); */
  -webkit-mask-composite: intersect;
  -webkit-mask-image: url(#mask1);
  -webkit-mask-mode: alpha;
  mask-composite: intersect;
  mask-image: url(#mask1);
  mask-mode: alpha;
}
#bookViewer .book > .container > .page.ready-to-flip {
  z-index: 10;
  -webkit-mask-composite: intersect;
  -webkit-mask-image: url(#mask1);
  -webkit-mask-mode: alpha;
  mask-composite: intersect;
  mask-image: url(#mask1);
  mask-mode: alpha;
}
#bookViewer .book > .container > .page.flipping-back-page2 {
  -webkit-mask-composite: intersect;
  -webkit-mask-image: url(#mask2);
  -webkit-mask-mode: alpha;
  mask-composite: intersect;
  mask-image: url(#mask2);
  mask-mode: alpha;
}
#bookViewer .book > .container > .page:nth-child(-n+3) {
  left:0%;
  transform-origin: bottom right;
}
#bookViewer .book > .container > .page:nth-child(n+4):nth-child(-n+6) {
  left:50%;
  transform-origin: bottom left;
}

#bookViewer .book.book.ready-to-open > .container > .page:nth-child(n+4):nth-child(-n+6) { left:0; }

/* Temporary */
.page:nth-child(1) { z-index: 1; background-color: lightblue; }
.page:nth-child(2) { z-index: 2; background-color: lightcoral; }
.page:nth-child(3) { z-index: 3; background-color: lightgreen; }
.page:nth-child(4) { z-index: 3; background-color: lightgray; }
.page:nth-child(5) { z-index: 2; background-color: lightpink; }
.page:nth-child(6) { z-index: 1; background-color: lightyellow; }

/* Event Zone */
#mzZoneLT {
  z-index: 20;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  background: rgba(63, 63, 63, 0.5)
}
#mzZoneLC {
  z-index: 20;
  position: absolute;
  top: 25px;
  left: 0px;
  width: 25px;
  height: 850px;
  background: rgba(63, 63, 63, 0.8)
}

#mzZoneLB {
  z-index: 20;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  background: rgba(63, 63, 63, 0.5)
}

#mzZoneRT {
  z-index: 20;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  background: rgba(63, 63, 63, 0.5)
}

#mzZoneRC {
  z-index: 20;
  position: absolute;
  top: 25px;
  right: 0px;
  width: 25px;
  height: 850px;
  background: rgba(63, 63, 63, 0.8)
}

#mzZoneRB {
  z-index: 20;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  background: rgba(63, 63, 63, 0.5)
}